<h1>Schedules#index</h1>
<p>Find me in app/views/schedules/index.html.erb</p>

<% @schedules.each do |schedules| %>
	<% schedules.each do |schedule| %>
	<%= schedule[0] %> <!--  -->
	<%= schedule[1] %>
	<%= schedule[2] %>
	<br>
	<% end %>
<% end %>