<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top navbar-color">
    <a class="navbar-brand" href="#">Wanaka</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
      </ul>
      <div class="form-inline mt-2 mt-md-0 nav-item">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="#">ログイン</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">新規登録</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">チーム作成</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Wanakaとは</a>
            </li>
          </ul>
      </div>
    </div>
  </nav>
</header>


<style type="text/css" media="screen">
  .navbar-color{
   background-color: #EC715F;
  }


</style>