_view_for_.html.erb



<div class="app-menu">
	<h2>チーム管理</h2>
</div>

<div class="app-team-manage">
	<div class="app-team-top">
		<div class="app-team-top-image">
		</div>

		<div class="app-team-top-name">

		</div>
	</div>
	<hr>

	<div class="app-team-command">
		<div class="app-team-comman-nav">
		    <div class="app-team-comman-nav-item"><button class="btn btn-danger app-team-btn">予定作成</button></div>
		    <div class="app-team-comman-nav-item"><button class="btn btn-success app-team-btn">メンバー招待</button></div>
		    <div class="app-team-comman-nav-item"><button class="btn btn-secondary app-team-btn">メンバー管理</button></div>
		</div>
	</div>
	<hr>
	<div class="app-team-show">
		チームの詳細を表示する
		<div class="app-team-show-icon">
			<i class="fas fa-angle-right"></i>
		</div>
	</div>
</div>
<div class="team-add">
	<div class="team-add-icon">
		+ <span style="font-size: 11px;">別のチームを作成する</span>
	</div>
	<div class="team-add-text">
	</div>
</div>

<br>
<hr>
<div class="app-menu">
	<h2>スケジュール</h2>
</div>

<div class="ticket-box btn-toolbar">
	<div class="ticket-box-date">
		xx/xx(土)
	</div>
	<div class="ticket-box-date-detail">
		>詳細はこちら
	</div>
	<div class="ticket-box-detail">
		<p>・集合場所：</p>
		<p>・集合時間：</p>
		<p>・対戦相手：</p>
		<p>・連絡事項：</p>
	</div>
	<div class="ticket-box-attendance btn-grou">
		<button class="btn btn-danger ticket-box-attendance-item">参加</button>
		<button class="btn btn-info ticket-box-attendance-item">欠席</button>
		<button class="btn btn-secondary ticket-box-attendance-item">保留</button>
	</div>
</div>

<div class="ticket-box btn-toolbar">
	<div class="ticket-box-date">
		xx/xx(土)
	</div>
	<div class="ticket-box-date-detail">
		>詳細はこちら
	</div>
	<div class="ticket-box-detail">
		<p>・集合場所：</p>
		<p>・集合時間：</p>
		<p>・対戦相手：</p>
		<p>・連絡事項：</p>
	</div>
	<div class="ticket-box-attendance btn-grou">
		<button class="btn btn-danger ticket-box-attendance-item">参加</button>
		<button class="btn btn-info ticket-box-attendance-item">欠席</button>
		<button class="btn btn-secondary ticket-box-attendance-item">保留</button>
	</div>
</div>

<br>
<hr>
<div class="app-menu">
	<h2>マッチメイク</h2>
</div>

<div class="container">
	<div class="row">
		
		<div class="col-lg-2 col-md-4 col-sm-6 app-game-box">
			<div class="app-game-image">
			</div>
			<div class="app-game-info">
				<div class="app-game-info-title">
				</div>
				<div class="app-game-info-detail">
				</div>
			</div>
		</div>
		<div class="col-lg-2 col-md-4 col-sm-6 app-game-box">
			<div class="app-game-image">
			</div>
			<div class="app-game-info">
				<div class="app-game-info-title">
				</div>
				<div class="app-game-info-detail">
				</div>
			</div>
		</div>
		<div class="col-lg-2 col-md-4 col-sm-6 app-game-box">
			<div class="app-game-image">
			</div>
			<div class="app-game-info">
				<div class="app-game-info-title">
				</div>
				<div class="app-game-info-detail">
				</div>
			</div>
		</div>
		<div class="col-lg-2 col-md-4 col-sm-6 app-game-box">
			<div class="app-game-image">
			</div>
			<div class="app-game-info">
				<div class="app-game-info-title">
				</div>
				<div class="app-game-info-detail">
				</div>
			</div>
		</div>
		<div class="col-lg-2 col-md-4 col-sm-6 app-game-box">
			<div class="app-game-image">
			</div>
			<div class="app-game-info">
				<div class="app-game-info-title">
				</div>
				<div class="app-game-info-detail">
				</div>
			</div>
		</div>
		<div class="col-lg-2 col-md-4 col-sm-6 app-game-box">
			<div class="app-game-image">
			</div>
			<div class="app-game-info">
				<div class="app-game-info-title">
				</div>
				<div class="app-game-info-detail">
				</div>
			</div>
		</div>
	</div>

</div>



<div class="match-make">

	<button type="button" class="btn btn-primary btn-lg match-make-btn">対戦相手</button>
	<button type="button" class="btn btn-secondary btn-lg match-make-btn">ゲームを申込</button>
</div>
<br><br>