

  <div class="col-lg-4" style="text-align: center; font-size: 12px; padding: 0 40px;">
    <h2 style="font-size: 24px; margin: 20px 20px">XXX</h2>
		<%= link_to(apply_to_team_path) do %>
	    	<button class="btn btn-primary" style="width: 240px;">既にあるチームに参加</button>
		<% end %>
    <br>
  </div><!-- /.col-lg-4 -->
  <div class="col-lg-4" style="text-align: center; font-size: 12px; padding: 0 40px;">
    <h2 style="font-size: 24px; margin: 20px 20px">XXX</h2>
		<%= link_to(new_team_path) do %>
    		<button class="btn btn-info" style="width: 240px;">新たにチームを作成</button>
		<% end %>
    <br>
  </div><!-- /.col-lg-4 -->
  <div class="col-lg-4" style="text-align: center; font-size: 12px; padding: 0 40px;">
    <h2 style="font-size: 24px; margin: 20px 20px;">XXX</h2>
		<%= link_to(new_user_registration_path) do %>
	    	<button class="btn btn-danger" style="width: 240px;">使い方を見る</button>
		<% end %>
    <br>
  </div><!-- /.col-lg-4 -->
</div><!-- /.row -->
