<%= render 'partial/navbar' %>


<div class="container">
	<div class="about-text"><h1>Wanakaの使い方</h1></div>
	<div class="row"></div>


</div>



<div class="row">
  <div class="col-lg-4 explain">
    <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
    <h2>Apply！</h2>
    <p>一般ユーザーは、チームキーワードを入力し、承認依頼するをします。</p>
  </div><!-- /.col-lg-4 -->
  <div class="col-lg-4 explain">
    <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
    <h2>Approve！</h2>
    <p>チーム管理者は、受領した依頼を確認し、承認します。</p>
  </div><!-- /.col-lg-4 -->
  <div class="col-lg-4 explain">
    <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
    <h2>Join！</h2>
    <p>おめでとうございます！チームにJoin出来ました！</p>

  </div><!-- /.col-lg-4 -->
</div><!-- /.row -->


<%= render 'partial/footer' %>

<style type="text/css" media="screen">
	body{
		padding-top: 70px;
	}

	.about-text{
		text-align: center;
	}


	.explain{
		text-align: center;
		margin: 0 auto;
	}
</style>