@import "bootstrap";
@import "toastr";


	.top-menu{
		font-size: 32px;
		text-align: center;
	}

	.top-menu-border{
		border-bottom: 2px solid black;
		width: 10px;
		margin: 0 auto;
		margin: 10px 0 40px 0;
	}

	.footer {
	    background-color: #333;
	    overflow: hidden;
	    position: fixed;
	    bottom: 0;
	    width: 100%;
	    height: 70px;
	}

	.footer .item {
	    float: left;
	    display: block;
	    color: #f2f2f2;
	    text-align: center;
	    padding: 14px 16px;
	    text-decoration: none;
	    font-size: 18px;
	    width: 20%;
	    height: 100%;
	}

	.footer a {
	    float: left;
	    display: block;
	    color: #f2f2f2;
	    text-align: center;
	    padding: 14px 16px;
	    text-decoration: none;
	    font-size: 18px;
	    width: 20%;
	    height: 100%;

	}
	.footer a:hover {
	    background-color: #ddd;
	    color: black;
	}

	.footer a.active {
	    background-color: #4CAF50;
	    color: white;
	}